/* Style for the container */
#container {
    width: 100%;
    height: 100vh; /* Adjust the height as needed */
    display: flex;
    justify-content: space-around;
    align-items: center; /* Vertically center the content */
  }
  

  
  /* Style for the company section */
  #containerCompany {
    padding: 25px 60px;
    text-align: center;
    margin: 20px;
    background-color: #ffff;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Drop shadow */
    border-radius: 25px; /* Rounded corners */
    animation: slideInFromLeft 1s ease-in-out; /* Apply slide-in animation */
  }
  
  /* Keyframes for slide-in animation */
  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%); /* Start from outside the viewport on the left */
      opacity: 0; /* Start with opacity 0 */
    }
    to {
      transform: translateX(0); /* Slide in to the center */
      opacity: 1; /* Fade in to full opacity */
    }
  }

/* Style for the company name */
#containerCompany h1 {
    font-size: 6vw ; /* Adjust the font size percentage as needed */
    font-weight: bolder;
    font-family: 'Archivo Black', sans-serif;
    margin-bottom: 2px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-top: -5px; /* Adjust the margin as needed */
}

/* Style for the company services */
#containerCompany h3 {
    font-size: 4vw; /* Adjust the font size percentage as needed */
    margin-bottom: 10px; /* Adjust the margin as needed */
    font-family: 'Archivo Black', sans-serif;
    margin-top: 1px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

/* Style for the company designation */
#containerCompany h5 {
    margin-top: -1px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 4vw; /* Adjust the font size percentage as needed */
    margin-bottom: 10px; /* Adjust the margin as needed */
    font-family: 'montserrat classic', sans-serif;
}
#containerCompany h3 span ,
#containerCompany h1 span {
    color: red;
  }
  
  /* Style for the login form */
  #loginForm {
    padding: 25px 60px;
    text-align: center;
    animation: fadeIn 1s ease-in-out; /* Apply fade-in animation */
  }
  
  /* Keyframes for fade-in animation */
  @keyframes fadeIn {
    from {
      opacity: 0; /* Start with opacity 0 */
    }
    to {
      opacity: 1; /* Fade in to full opacity */
    }
  }
  
  /* Style for the form headings */
  #loginForm h2 {
    font-size: 40px;
    font-family: 'inter', sans-serif;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
  }
  
  /* Style for the form subheadings */
  #loginForm h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  /* Style for the input fields */
  #loginForm input[type="text"],
  #loginForm input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      background-color: transparent; 
      color: #ffffff;/* Set background color to transparent */
  }
  
  
  /* Style for the buttons */
  #loginForm button {
    padding: 10px 20px;
    background-color: #FE6B68;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  
  /* Style for the forgot password modal */
  #forgotPasswordModal {
    padding: 25px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px; /* Adjust width as needed */
    padding: 20px;
    border-radius: 5px;
}

#forgotPasswordModal > div {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

  
  /* Style for the forgot password modal input fields */
  #forgotPasswordModal input[type="text"],
  #forgotPasswordModal input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Style for the forgot password modal buttons */
  #forgotPasswordModal button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }

/* Style for the background of the login page */
.login-background {
    background-image: url('/images/background.png'); /* Replace 'login-background-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;/* Change this to your desired color */
}
/* --------------------------------------------------survey--------------------------------------------------------- */
/* Style for the background of the survey form */
.survey-background {
  background-image: url('/images/background2.png');
  background-size: cover;
  background-position: center;
  animation: fadeInBackground 1s ease-in-out; /* Apply fade-in animation */
}
@keyframes fadeInBackground {
  from {
      opacity: 0; /* Start with opacity 0 */
  }
  to {
      opacity: 1; /* Fade in to full opacity */
  }
}
/* Style for the survey form container */
#surveyForm {
  display: none; /* Initially hidden */
}

/* Style for the survey form container */
#container.survey-background {
  background-image: url('/images/background2.png'); /* Replace 'background2.png' with your image path */
  background-size: cover;
  background-position: center;
}

/* Style for the survey form heading */
.SF {
  padding-top: 25px;
  font-size: 35px;
  font-weight: bolder;
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 20px;
  animation: fadeIn 1s ease-in-out; /* Apply fade-in animation */
}
@keyframes fadeIn {
  from {
      opacity: 0; /* Start with opacity 0 */
  }
  to {
      opacity: 1; /* Fade in to full opacity */
  }
}

.Sf_Continer {
  padding: 10px;
  min-width: 450px; /* Set the minimum width to 450px */
  width: 6vm; /* Keep the original width value */
}
.UD {
  padding-top: -5px;
  font-size: 35px;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
  animation: slideInUp 1s ease-in-out; /* Apply slide-in animation */
}

.AN {
  padding-top: 5px;
  font-size: 25px;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Archivo Black', sans-serif;
  text-align: start;
  animation: slideInUp 1s ease-in-out; /* Apply slide-in animation */
}
@keyframes slideInUp {
  from {
      opacity: 0;
      transform: translateY(100px); /* Start from 100px below */
  }
  to {
      opacity: 1;
      transform: translateY(0); /* Slide in to original position */
  }
}


/* Style for the survey form */
.surveyDetailsForm {
  background-color: #00000086;
  padding: 0px 40px;
  text-align: center;
  margin: 20px; /* Adjust margin as needed */
  border-radius: 12px;
  padding-bottom: 20px;
}

/* Style for form labels */
.surveyDetailsForm label {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff; /* Label color */
}

/* Style for form inputs */
.surveyDetailsForm input[type="text"],
.surveyDetailsForm textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: transparent;
  color: #ffffff; /* Text color */
}

/* Style for the submit button */
.surveyDetailsForm button[type="submit"] {
  padding: 10px 20px;
  background-color: #79fe68;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* Adjust margin as needed */
}

/* Style for the sign-out button */
#signout {
  padding: 10px 20px;
  background-color: #b93333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* Adjust margin as needed */
}
#loginForm input[type="text"]::placeholder,
#loginForm input[type="password"]::placeholder {
    color: rgb(192, 191, 191); /* Set placeholder color to white */
}

/* Style for the survey form input fields */
#surveyDetailsForm input[type="text"]::placeholder,
#surveyDetailsForm textarea::placeholder {
    color:  rgb(192, 191, 191); /* Set placeholder color to white */
}


@media (max-width: 1080px) {
    #container {
        width: 100%;
        height: 100vh; /* Adjust the height as needed */
        display: flex;
        flex-direction: column; /* Change to column for vertical stacking */
        overflow-y: auto; /* Add vertical scrollbar when content exceeds container height */
    }
    
    #containerCompany {
        padding: 25px 60px;
        text-align: center;
        margin: 20px;
        background-color: #000000ab;
        align-items: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Drop shadow */
        border-radius: 15px; /* Rounded corners */
    }
    #containerCompany h1 {
        font-size: 45px; /* Adjust the font size percentage as needed */
        font-weight: bolder;
        font-family: 'Archivo Black', sans-serif;
        margin-bottom: 2px;
        color: #ffffff;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        margin-top: -5px; /* Adjust the margin as needed */
    }
    
    /* Style for the company services */
    #containerCompany h3 {
        font-size: 30px; /* Adjust the font size percentage as needed */
        margin-bottom: 10px; /* Adjust the margin as needed */
        font-family: 'Archivo Black', sans-serif;
        margin-top: 1px;
        color: #ffffff;
        font-weight: bold;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
    }
    
    /* Style for the company designation */
    #containerCompany h5 {
        margin-top: -1px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        font-size: 30px; /* Adjust the font size percentage as needed */
        margin-bottom: 10px; 
        color: #ffffff;/* Adjust the margin as needed */
        font-family: 'montserrat classic', sans-serif;
    }
    .SF {
      padding-top:25px;
      font-size: 35px;
      font-weight: bolder;
      font-family: 'Archivo Black', sans-serif;
      text-align: center;
      color: #ffffff; /* Text color */
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Text shadow */
      margin: 20px; /* Adjust margin as needed */
    }
    
    #loginForm {
        padding: 25px 60px;
        text-align: center;
        animation: fadeIn 1s ease-in-out; /* Apply fade-in animation */
      }
      
      
      /* Keyframes for fade-in animation */
      @keyframes fadeIn {
        from {
          opacity: 0; /* Start with opacity 0 */
        }
        to {
          opacity: 1; /* Fade in to full opacity */
        }
      }

}
#msg {
  color: #4CAF50;
  font-size: 13px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}